.image {
  width: 100%;
  object-fit: cover;
}

.colorTitle {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 20px;
}

.textContainer {
  display: flex;
  flex-direction: column !important;
  padding: 30px;
  padding-top: 40px;
}

.titleCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* For desktop version (greater than 960px) */
@media (min-width: 961px) {
  .image {
    width: 100%;
    object-fit: cover;
  }

  .titleCenter {
    display: flex;
    justify-content: left !important;
    align-items: left !important;
  }

  .textCenter {
    margin-left: 20px !important;
    margin-right: 90px !important;
  }

  .textContainer {
    display: flex;
    flex-direction: column !important;
    padding: 20px;
    padding-top: 40px;
  }

  .innovationContainer {
    width: 90%;
    padding-top: 97px;
    padding-bottom: 40px;
    padding-left: 70px;
  }

  .moldsContainer {
    width: 88%;
  }

  .moldsContainer {
    margin-right: 85px;
    margin-bottom: -40px;
  }

  .innovation {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
    margin-top: 35px;
    margin-left: 100px;
  }

  .innovationTextContainer {
    width: 110%;
    /* margin-top: 70px; */
    margin-left: 90px;
    padding-top: 40px;
    padding-bottom: 40px;

  }

  .labOne {
    width: 100%;
    display: flex;
    justify-content: left !important;
    align-items: left !important;
    margin-left: 35px;
    margin-top: -50px
  }

  .colorTitle {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .title {
    font-size: 40px !important;
    font-weight: 100 !important;
    width: 80%;
    margin-bottom: 30px;
    margin-right: 70px;
  }
}

.title {
  font-size: 26px;
  font-weight: 200;
  width: 80%;
  margin-bottom: 30px;
}

.textCenter {
  margin-left: 50px;
  margin-right: 90px;
}

.text {
  font-size: 17px;
  margin-bottom: 50px;
  font-weight: 300;
  line-height: 25px;
}

.horizontalLineLeft {
  display: flex;
  justify-content: flex-start;
  border-top: 10px solid #027960;
  width: 100%;
  margin-left: -200px;
  margin-bottom: 50px;
  margin-top: -39px;
}

.horizontalLineRight {
  display: flex;
  justify-content: flex-end;
  border-top: 10px solid #027960;
  width: 90%;
  margin-bottom: 50px;
  margin-top: -4px;
  margin-left: 10%;
}