.downloadButton {
    color: #007960;
    font-weight: 700;
    font-size: 22px;
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoPlayer {
    margin-bottom: 50px;
}

@media (min-width: 961px) {
    .videoPlayer {
        margin-bottom: 20px !important;
        margin-top: 70px !important;
        height: 100%;
        width: 50%;
    }

    .fixedHeight {
        height: 400px;
        /* Adjust the height as needed */
        display: flex;
        align-items: stretch;
        /* Ensures both child elements share the same height */
    }
}

.stickyMenu {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 100;
}

.equipmentContainer {
    display: flex;
    flex-direction: row;
}

.horizontalLine {
    border-top: 12px solid #04795f;
    width: 100%;
    margin-right: -110px;
    margin-bottom: 50px;
    margin-top: 12px;
}

.machineTitle {
    margin-left: 21%;
    margin-bottom: 60px;
    color: #04795f;
}